.Pricing {
  width: 100%;
  max-width: 110em;
  margin: 2em auto;
  padding: 1em 2em;
  
  &-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 1.5em 0;
  }

  &-h2 {
    color: #fff;
    font-size: 2.25em;
    font-weight: 700;

    @media screen AND (max-width:640px) {
      font-size: 2em;
      text-align: center;
    }

    @media screen AND (max-width:480px) {
      font-size: 1.75em;
      text-wrap: balance;
    }
  }

  &-wrapper {
    width: 100%;
    max-width: 80em;
  }

  &-column {
    display: flex;
    flex-direction: column;
    
    @media screen AND (max-width:960px) {
      width: 100%;
      max-width: 40em;
      gap: .75em;
      margin: 0 auto;
    } 
  }

  /* Tab controls for res <= 960px */

  &-controls {
    @media screen AND (max-width:480px) {
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
    }
  }

  &-tabs {
    width: 100%;
    display: flex;
    align-items: stretch;
    gap: .75em;
  
    @media screen AND (min-width:961px) {
      display: none;
    }

    @media screen AND (max-width:480px) {
      width: calc(150% - 1.5em);
    }
  }

  &-tab {
    width: calc(100% / 3 );
    display: flex;
  }
  
  &-button {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1em;
    border-radius: .5em;
    scroll-snap-align: start;
    background-color: #0a0a0a;
    cursor: pointer;

    &--premium {
      &.isActive {
        box-shadow: none;
        background:radial-gradient(140.76% 131.96% at 100% 100%, rgb(229, 9, 20) 0%, rgba(74, 42, 150, 0.5) 73.57%, rgba(74, 42, 150, 0) 100%), rgb(29, 82, 157);
      }
    }
    
    &--standard {
      &.isActive {
        box-shadow: none;
        background:radial-gradient(140.76% 131.96% at 100% 100%, rgb(176, 56, 220) 0%, rgba(74, 42, 150, 0.5) 73.57%, rgba(74, 42, 150, 0) 100%), rgb(29, 82, 157);
      }
    }

    &--standardWithAds {
      &.isActive {
        box-shadow: none;
        background:radial-gradient(140.76% 131.96% at 100% 100%, rgb(109, 59, 227) 0%, rgba(74, 42, 150, 0.5) 73.57%, rgba(74, 42, 150, 0) 100%), rgb(29, 82, 157);
      }
    }
  }

  &-name {
    color: #fff;
    font-size: 1em;
    font-weight: 600;
    text-align: left;
  }

  &-description {
    color: #fff;
  }

  /* End */

  &-content {
    overflow: hidden;
  }

  &-list {
    width: 100%;
    max-width: 64em;
    display: flex;
    justify-content: start;
    align-items: stretch;
    gap: .75em;
    margin: 0 auto;

    @media screen AND (max-width:960px) {
      width: calc(300%);
      max-width: initial;
      gap: 0;
    }
  }

  &-item {
    width: calc(100% / 3);
    border-radius: .5em;
    
    @media screen AND (max-width:960px) {
      display: none;
      
      &.isActive {
        display: block;
      }
    }
  }
}

.Plan {
  color: #fff;
  
  &-header {
    padding: 1em;
    border-radius: .5em;
    
    &--premium {
      background:radial-gradient(140.76% 131.96% at 100% 100%, rgb(229, 9, 20) 0%, rgba(74, 42, 150, 0.5) 73.57%, rgba(74, 42, 150, 0) 100%), rgb(29, 82, 157);
    }

    &--standard {
      background:radial-gradient(140.76% 131.96% at 100% 100%, rgb(176, 56, 220) 0%, rgba(74, 42, 150, 0.5) 73.57%, rgba(74, 42, 150, 0) 100%), rgb(29, 82, 157);
    }

    &--standardWithAds {
      background:radial-gradient(140.76% 131.96% at 100% 100%, rgb(109, 59, 227) 0%, rgba(74, 42, 150, 0.5) 73.57%, rgba(74, 42, 150, 0) 100%), rgb(29, 82, 157);
    }

    @media screen AND (max-width:960px) {
      display: none;
    }
  }

  &-name {
    font-size: 1.15em;
    font-weight: 600;
  }

  &-description {
    font-weight: 400;
  }

  // &-body {}

  &-specs {
    display: flex;
    flex-direction: column;
    gap: .75em;
    border-radius: .5em;

    @media screen AND (min-width:961px) {
      margin: .75em 0 0;
    }
  }

  &-spec {
    padding: .75em 1em;
    border: 1px solid #222;
    border-radius: .25em;
    background: linear-gradient(to bottom, #0a0a0a 16%, #1d1d1d);

    @media screen AND (min-width:480px) AND (max-width:960px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: linear-gradient(to right, #0a0a0a 16%, #1d1d1d);
    }
  }

  &-dt {
    font-size: .8125em;
    text-wrap: pretty;

    @media screen AND (max-width:960px) {
      font-size: .875em;
      max-width: 50%;
    }
    
    @media screen AND (max-width:480px) {
      max-width: initial;
    }
  }

  &-dl {
    margin: .25em 0 0;
    font-size: .95em;
    font-weight: 500;
    text-wrap: pretty;

    @media screen AND (max-width:960px) {
      max-width: 50%;
      margin: 0;
      text-align: right;
    }
    
    @media screen AND (max-width:480px) {
      max-width: initial;
      margin: .25em 0 0;
      text-align: initial;
    }
  }

}


