.Header {
  width: 100%;
  max-width: 110rem;
  margin: 0 auto;
  padding: 0 2em;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;

  &-center {
    display: flex;
    justify-content: center;
  }
  
  &-spaced {
    width: 100%;
    max-width: 80em;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 1.5em 0em;
 }

  &-home { 
    // transition: transform .2s ease;
    
    &:hover {
      transform: scale(.99);
    }
  }

  &-svg {
    width: 100%;
    max-width: 9.25em;
    color: var(--netflix-red);
    
    &:hover {
      color: var(--netflix-red-transparent);
    }

    @media screen AND (max-width:640px){
      // max-width: 7.25em;
      max-width: 8.25em;
    }
  }
  
  &-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.4em;

    @media screen AND (max-width:640px){
      gap: .75em;
    }
  } 

  &-login {
    padding: .5em 1em;
    border-radius: .25em;
    color: #fff;
    background-color: var(--netflix-red);
    font-weight: 600;
    font-size: .9em;

    &:hover {
      background-color: var(--netflix-red-transparent);
    }
  }
}