:root {
    --carbon: #222;
    --foam: #F5F5F5;
    --netflix-red: #e50914;
    --netflix-red-transparent: #c11119;
	--black-transparent:#1A1915;
    --grey: #808080b3;
    
    --main-typography: system-ui, san-serif;
}