.Intro {
  width: 100%;
  height: 90vh;
  margin: 0 auto;
  
  background: url('assets/img/ES-es-20240429-popsignuptwoweeks-perspective_alpha_website_large.jpg') no-repeat bottom center / cover;

  position: relative;
  z-index: 1;

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    height: calc(100% + 1px);
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0,0,0, .75) 0%, rgba(0,0,0,0.35) 66%, rgba(0,0,0,1) 100%);
  }
  
  &-wrapper {
    width: 100%;
    max-width: 110em;
    margin: 0 auto;
  }

  &-column {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0 2em;
    position: relative;
  }

  &-center {
    width: 100%;
    max-width: 80em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
    padding: 1.5em 0;
    z-index: 2;

    &.isHide {
      display: none;
    }
  }

  &-h1 {
    color: #fff;
    font-size: 3em;
    font-weight: 800;
    text-align: center;

    @media screen AND (max-width:480px) {
        font-size: 2em;
    }
  }

  &-p {
    margin: .75em 0 0 0;
    color: #fff;
    font-size: 1.5em;
    text-align: center;
    
    @media screen AND (max-width:480px) {
      font-size: 1.25em;
    }
  }

  &-start {
    margin: 1.5em 0 0 0;
    padding: .75em 1.5em;
    border-radius: .25em;
    color: #fff;
    background-color: var(--netflix-red);
    box-shadow: 0 .5em 1em var(--black-transparent);
    font-size: 1.15em;
    font-weight: 600;
    line-height: 1.3;
    cursor: pointer;
    
    position: relative;

    &::after {
      content: '';
      display: inline-block;
      width: 1em;
      height: 1em;
      margin: 0 0 0 .5em;
      background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z'/></svg>")
            no-repeat center center / contain;
      vertical-align: middle;
      transition: all .2s ease;        
    }

    &:hover::after {
      background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'><path d='M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z'/></svg>")
              no-repeat center center / contain;
    }

    &:hover {
      background-color: var(--netflix-red-transparent);
    }

    @media screen AND (max-width:480px) {
      font-size: 1.15em;
      line-height: initial;
    }
  }
}